<ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-<%=newStepProgress step: 1%>">選擇模組</li><!--
 --><li class="progtrckr-<%=newStepProgress step: 2%>">填寫資料</li><!--
 --><li class="progtrckr-<%=newStepProgress step: 3%>">填寫課程</li><!-- 	
 --><li class="progtrckr-<%=newStepProgress step: 4%>">完成</li>
</ol>
