<div class="container-fluid">
	<div class="row">	
		<ul class="nav nav-tabs col-sm-offset-4 col-sm-4">		
		  <li role="presentation" <%= active(controller: 'basic', action: 'editGroup')%>>
		  	<%=link_to '名稱簡介設定', {controller: 'basic', action: 'editGroup', id: period.group.id} %>
		  </li>
		  <li role="presentation" <%= active(controller: 'basic', action: 'editPeriod')%>>
			<%=link_to '班級設定', {controller: 'basic', action: 'editPeriod', id: period.id} %>		  	
		  </li>  
		</ul>	
	</div>
</div>
