<ol class="progtrckr" data-progtrckr-steps="3">
    <li class="progtrckr-<%=newStepProgress step: 1, step_now: @step%>">選擇模組</li><!--
 --><li class="progtrckr-<%=newStepProgress step: 2, step_now: @step%>">填寫資料</li><!--	
 --><li class="progtrckr-<%=newStepProgress step: 3, step_now: @step%>">完成</li>
</ol>
