<a>退出報名</a>
<ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-<%=NCTUCCEStepProgress step: 1%>">填表</li><!--
 --><li class="progtrckr-<%=NCTUCCEStepProgress step: 2%>">審核</li><!--
 --><li class="progtrckr-<%=NCTUCCEStepProgress step: 3%>">繳費</li><!-- 	 	
 --><li class="progtrckr-<%=NCTUCCEStepProgress step: 4%>">完成</li>
</ol>

