<%= render partial: "step", locals: {progress: @progress, step: @step} %>

<h1 class="text-center">恭喜你已完成報名所有手續！</h1>
<h4 class="text-center" ><strong>如有任何疑問請洽承辦人員，謝謝</strong></h4>	
<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		<blockquote>	
			承辦人: <br>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%=@progress.item.user.name%> <br>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%=@progress.item.user.email%><br>
			<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%=showBlank @progress.item.user.phone_no%><br>			
		</blockquote>	
		</div>   	
	</div>	 				  	
</div>		

