<%=render "step" %>
  <div class="row">
    <div class="col-sm-12">
    	完成報名, 請等待中心人員審核報名資格, 如審核通過, 系統將會寄送通知訊息至您的信箱
    	<%=current_user.email%>
    </div>
    <div class="col-sm-12">
	<!--	<button type="button" class="btn btn-info" onclick="document.location='<%=host%>/nctu_cce/cancel?id=<%=@progress.id%>';">取消報名</button>				
-->
    </div>
  </div>