<div class="item_management_box"  id="item_management_<%=module_management_block.id%>" >
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <%=link_to "/system_modules/userEdit?id="+module_management_block.system_module.id, {} do%> 	
	    <h3 class="panel-title"><%= module_management_block.system_module.title %></h3>
	    <%end%>	 
	  </div>
	</div>		
</div>
  