<h3 class="text-center">查詢虛擬帳號</h3>
<br>
<div class="container" >
<%=form_tag "/system_modules/check_account", remote: true, class: 'form-horizontal' do %>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-6">
			<%=text_field_tag "vacc", "", class: 'form-control', placeholder: '輸入虛擬帳號'%>	
		</div>
		<div class="col-sm-2">	
			<%=submit_tag "查詢", class: 'btn btn-primary check-submit'%>
		</div>		
  	</div>
<% end %>
</div>

<h4>查詢結果</h4>
<table class="table table-striped" id="result-table">
	<tr>
		<th>帳號</th>
		<th>狀態</th>	
		<th>金額</th>
		<th>繳費方式</th>
		<th>最後繳款時間</th>
	</tr>	
	
</table>

<script>
	$('.check-submit').click(function(){
		vacc = $('#vacc').val();
		if(vacc.indexOf("95306") > -1){
			return true;
		}else{
			alert("invalid vaccount");
			return false;
		}	
	});

</script>