
<% colors = step_color(stage) %>
<ol class="progtrckr" data-progtrckr-steps="4">
 <li class="progtrckr-<%=colors[0]%>">填表</li>
 <li class="progtrckr-<%=colors[1]%>">審核</li>
 <li class="progtrckr-<%=colors[2]%>">繳費</li>	 	
 <li class="progtrckr-<%=colors[3]%>">完成</li>
</ol>
