<div class="form-group">
   <label class="col-md-4 control-label" for="singlebutton"></label>
   <div class="col-md-4 center-block">
		<%=link_to '新增報名課程', '/items/new', {class: "btn btn-lg btn-success center-block", role: "button", style: ""} %>
   </div>  
</div>
<br><br>
<div id="masonry-container" class="transitions-enabled clearfix" style="margin-top: 40px;">	
<%= render(:partial => "item_management_block", :collection => @items) %>
</div>	

<%= javascript_tag do %>
	$(function() 
	{
		//initial masonry
		var $container = $('#masonry-container');
		$container.imagesLoaded(function(){
			$container.masonry({
			      itemSelector: '.item_management_box',
			      columnWidth: 27,
			      gutter: 15,
			      isFitWidth: true
			});			
		});			
	});	
<% end %>
