<div style="font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif; padding: 5px 20px;	">	
<div style="margin-top: 5px; margin-bottom: 10px;">
<%=image_tag 'logo&text.png'%>
</div>	
<div style="letter-spacing: 1.5px;
		    padding-bottom: 30px; 
		    padding-top: 30px; 	
		    padding-left: 5px; 		    	    
		    border-bottom: 1px solid; 
		    border-top: 1px solid; 
		    margin-bottom: 30px;">		
<div class="masonry" style="-moz-column-count: 4;
						    -webkit-column-count: 4;
						    column-count: 4;
						    -moz-column-gap: 1em;
						    -webkit-column-gap: 1em;
						    column-gap: 1em;">
<%= @resource.email %> 您好!
<p>有人要求更改您的系統密碼。 您可以點擊以下連接更改密碼</p>
<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>如果您沒有要求重設密碼, 請忽略此封信件</p>
<p>您的密碼將不會被更改, 直到您點擊上面連結並更改儲存新密碼</p>
</div>
</div>
<p>
EasyRegister 簡單又方便的報名系統<br> 
<%= link_to 'easyRegister.tw', 'http://easyRegister.tw' %><br>
Copyright 2014 从人設計坊. All Rights Reserved. 
</p>
</div>