<p><%= @resource.email %> 您好!</p>

<p>有人要求更改您的系統密碼。 您可以點擊以下連接更改密碼</p>

<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒有要求重設密碼, 請忽略此封信件</p>
<p>您的密碼將不會被更改, 直到您點擊上面連結並更改儲存新密碼</p>
