<ol class="progtrckr" data-progtrckr-steps="3">
    <li class="progtrckr-<%=newStepProgress step: 1%>">選擇模組</li><!--
 --><li class="progtrckr-<%=newStepProgress step: 2%>">填寫資料</li><!--
 --><li class="progtrckr-<%=newStepProgress step: 3%>">完成</li>
</ol>
